@font-face {
    font-family: 'font';
    src: url('fonts/hb.otf');
    font-weight: 900;
}

@font-face {
    font-family: 'font';
    src: url('fonts/hbo.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'font';
    src: url('fonts/hm.ttf');
    font-weight: medium;
}

@font-face {
    font-family: 'font';
    src: url('fonts/hul.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'font';
    src: url('fonts/hr.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'sf';
    src: url('fonts/sfbold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'sf';
    src: url('fonts/sfmedium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'sf';
    src: url('fonts/sfreg.otf');
    font-weight: 400;
}