@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'sf' !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #aaa;
  }
}


@layer components {
    .font-2 {
        font-family: 'font' !important;
    }
}